(
  entities: {
    0: (
      components: {
        "bevy_transform::components::Transform": (
          translation: (x: 0.0, y: 0.0, z: 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "bevy_sprite::sprite::Sprite": (
           color: Srgb(red: 0.0, green: 1.0, blue: 0.0),
           custom_size: Some((32.0, 32.0)),
        ),
        // The Factory Components
        "monster_factory::components::HpCoef": ( val: 0.8 ),
        "monster_factory::components::SpeedCoef": ( val: 1.5 ),
        "monster_factory::components::RewardCoef": ( val: 1.0 ),
        "monster_factory::components::LifetimeCoef": ( val: 1.0 ),

        // Marker from 'enemy' crate required for systems to target it
        "enemy::lib::Enemy": ( target_position: (0.0, 0.0) ),
        "bevy_ecs::hierarchy::Children": ([1]),
      },
    ),
    1: (
        components: {
            "bevy_ecs::hierarchy::ChildOf": (0),
            "bevy_transform::components::Transform": (
                translation: (x: 0.0, y: 20.0, z: 1.0),
            ),
            "bevy_text::text::Text2d": ( "0" ),
            "bevy_text::text::TextFont": (
                font_size: 10.0,
            ),
            "bevy_text::text::TextColor": (
                Srgb(
                    red: 1.0,
                    green: 1.0,
                    blue: 1.0,
                )
            ),
        },
    )
  }
)
