(
  entities: {
    1: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 0.0, 0.0), // Y-position handled by system
        ),
        "bevy_sprite::sprite::Sprite": (
          color: Srgba(Srgba(red: 0.5, green: 0.0, blue: 0.5, alpha: 1.0)),
          custom_size: Some((16.0, 32.0)),
        ),
        "common::components::PortalRoot": (),

        "common::components::PortalLevel": (
            active: 0,
            max_unlocked: 0,
        ),

        "common::components::UpgradeCost": (
            strategy: Exponential(base: 100.0, factor: 2.0),
            current_price: 100.0,
        ),

        "common::components::PortalSpawner": (
            timer: (
                stopwatch: ( elapsed: ( secs: 6, nanos: 0 ), is_paused: false ),
                duration: ( secs: 5, nanos: 0 ),
                mode: Repeating,
                finished: true,
                times_finished_this_tick: 1,
            ),
            interval_strategy: Static(6.0),
        ),

        "common::components::BaseMonsterReward": (Linear(base: 10.0, coefficient: 7.5)),
        "common::components::BaseMonsterHealth": (Exponential(base: 5.0, factor: 1.5)),
        "common::components::BaseMonsterSpeed": (Static(150.0)),
        "common::components::BaseMonsterLifetime": (Static(10.0)),
        "common::components::BaseMonsterArmor": (Chunked( base: 0, interval: 10, step: 5)),

        "common::components::ScavengerPenalty": (1.0),

        // Pickable for UI interaction
        "bevy_picking::Pickable": (
          should_block_lower: true,
          is_hoverable: true,
        ),
        "bevy_ecs::hierarchy::Children": ([2, 3]),
      },
    ),
    // Child: Capacity Upgrade
    2: (
      components: {
        "bevy_ecs::hierarchy::ChildOf": (1),
        "common::components::UpgradeSlot": ( name: "Capacity" ),
        "common::stats::UpgradeableStat": (
            level: 0.0,
            value: 5.0,
            price: 200.0,
            value_strategy: Incremental(base: 5.0, step: 1.0),
            price_strategy: Exponential(base: 200.0, factor: 1.5),
        ),
      }
    ),

    // Child: Lifetime Upgrade
    3: (
      components: {
        "bevy_ecs::hierarchy::ChildOf": (1),
        "common::components::UpgradeSlot": ( name: "Lifetime" ),
        "common::stats::UpgradeableStat": (
            level: 0.0,
            value: 1.0,
            price: 100.0,
            value_strategy: Linear(base: 1.0, coefficient: 0.75),
            price_strategy: Exponential(base: 100.0, factor: 2.5),
        ),
      }
    ),
  },
  resources: {},
)
