(
    level: 0,
    // Price strategy for Portal Level
    level_up_price: Linear(
        base: 500.0,
        coefficient: 250.0,
    ),
    portal_top_offset: 100.0,
    scavenger_penalty_coef: 1.0,

    level_scaled_stats: (
        void_shards_reward: Linear(
            base: 10.0,
            coefficient: 7.5,
        ),
        spawn_timer: Static(2.0),
        monster_health: Exponential(
            base: 5.0,
            factor: 1.5,
        ),
        base_monster_speed: Static(150.0),
        base_monster_lifetime: Incremental(
            base: 10.0,
            step: 1.1,
        ),
    ),
    upgrades: {
        "Capacity": (
            value: Incremental(base: 5.0, step: 1.0),
            price: Exponential(base: 200.0, factor: 2.0),
        ),
        "Lifetime": (
            value: Linear(base: 1.0, coefficient: 1.0),
            price: Linear(base: 500.0, coefficient: 500.0),
        )
    },
)
